body{
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}

header{
  position: relative;
  background: url("images/header.jpg") no-repeat;
  background-size: cover;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar-block{
  height: calc(100vh - 70px);
  position: relative;
}

.info-block{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 230px;
  padding: 30px 20px 30px 20px;
}

.info-block img{
  width: 170px;
}

.info-block p{
  width: 350px;
  text-align: center;
}

.react-calendar{
  margin: 0;
  width: 100%;
  border: none;
  position: absolute;
  left: 0;
  bottom: 0;
}

.react-calendar__navigation{
  background-color: #f1f1f1;
}

.react-calendar__month-view__days {
  height: 200px;
}

#calendar .react-calendar__tile:first-child{
  border-top: 1px solid #bebebe;
}

#calendar .react-calendar__tile+.react-calendar__tile{
  border-top: 1px solid #bebebe;
  border-left: 1px solid #bebebe;
}

#calendar .react-calendar__tile{
  position: relative;
}

#calendar .react-calendar__tile--active:before{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 1px solid crimson;
  z-index: 1;
}

.react-calendar__tile--active {
  background: none;
  color: #000;
}

.backBtn{
  position: absolute;
  left: 20px;
  background: url("./images/chevronleft.svg") no-repeat;
  background-size: contain;
  border: none;
  height: 20px;
  width: 20px;
}

.card-container{
  padding: 20px;
}

.card{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.card+.card{
  margin-top: 30px;
}

.card-img{
  height: 100px;
}

.medium{
  height: 100px;
}

.original{
  height: auto;
  width:100%;
  position: absolute;
  left: 0;
  right:0;
  margin: auto;
}

.card-description{
  display: flex;
  height: 100px;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 20px;
}

.card-season{
  display: inline-block;
  padding: 10px;
  background: #f5f5f5;
}

.card-season span+span{
  margin-left: 15px;
}

.card-name{
  font-size: 20px;
}

.card-year{
  color: #b4b4b4;
  margin-top: 5px;
}

.setCardsQuantityBtn{
  color: #999999;
  border: 1px solid #999999;
  border-radius: 3px;
  display: block;
  background: none;
  width: 100%;
  padding: 10px;
  margin-top: 20px;
  font-size: 20px;
}

.setCardsQuantityBtn{
  border: 1px solid #999999;
}

.list-date{
  padding: 20px;
  border-bottom: 1px solid #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
}

@media (min-width: 414px){
  .react-calendar__month-view__days {
    height: 250px;
  }
}